In [13]:
import pandas as pd

In [14]:
files_path = r"D:\thesis_code\datasets\monado_slam\MOO09_short_1_updown\mav0\cam0\data.csv"
files = pd.read_csv(files_path, header=0, names=('timestamp', 'filename'))

files['timestamp'] = pd.to_datetime(files['timestamp'], unit='ns')
files = files.sort_values(by='timestamp').reset_index(drop=True)

# files['filename'] = files['filename'].str.replace(".png", "", regex=False)

files.head()

                      timestamp           filename
0 1970-01-01 02:28:52.918475306  8932922082890.png
1 1970-01-01 02:28:52.951768806  8932955376390.png
2 1970-01-01 02:28:52.985054406  8932988661990.png
3 1970-01-01 02:28:53.018343106  8933021950690.png
4 1970-01-01 02:28:53.051633206  8933055240790.png

In [15]:
imu_data = r"D:\thesis_code\datasets\monado_slam\MOO09_short_1_updown\mav0\imu0\data.csv"
imu = pd.read_csv(imu_data, header=0, names=('timestamp', 'w_x', 'w_y', 'w_z', 'a_x', 'a_y', 'a_z'))

imu['timestamp'] = pd.to_datetime(imu['timestamp'], unit='ns')
imu = imu.sort_values(by='timestamp').reset_index(drop=True)

imu.head()

,timestamp,w_x,w_y,w_z,a_x,a_y,a_z
0,1970-01-01 02:28:52.901950490,-0.000369,0.004397,-0.001464,0.123065,-9.648608,0.983212
1,1970-01-01 02:28:52.902950490,0.000105,-0.007764,-0.000544,0.094332,-9.667434,0.973387
2,1970-01-01 02:28:52.903945790,-0.005528,0.001141,0.001416,0.070552,-9.667416,0.988196
3,1970-01-01 02:28:52.904940990,-0.002633,0.003527,-0.001462,0.080460,-9.629730,1.020720
4,1970-01-01 02:28:52.905931390,-0.002565,-0.021168,0.000377,0.070552,-9.614844,1.002034

In [20]:
aligned_df = pd.merge_asof(
    files, imu,
    on="timestamp",
    direction="backward",
    suffixes=('', '_imu')
)

aligned_df = aligned_df.dropna()
            
aligned_df.head()

,timestamp,filename,w_x,w_y,w_z,a_x,a_y,a_z
0,1970-01-01 02:28:52.918475306,8932922082890.png,-0.000267,-0.005650,0.002608,0.051727,-9.677321,1.035494
1,1970-01-01 02:28:52.951768806,8932955376390.png,-0.000812,-0.023538,-0.002782,0.037855,-9.701117,1.011853
2,1970-01-01 02:28:52.985054406,8932988661990.png,-0.001171,-0.016299,0.002915,0.027947,-9.638619,1.035563
3,1970-01-01 02:28:53.018343106,8933021950690.png,-0.000652,-0.009134,-0.001680,0.080460,-9.658495,1.001980
4,1970-01-01 02:28:53.051633206,8933055240790.png,0.000324,-0.021574,0.004129,0.032901,-9.738807,0.988187

In [22]:
aligned_df['timestamp'].diff().dt.total_seconds()

0           NaN
1      0.033293
2      0.033286
3      0.033289
4      0.033290
         ...
142    0.033290
143    0.033291
144    0.033287
145    0.033290
146    0.033294
Name: timestamp, Length: 147, dtype: float64

In [16]:
aligned_df['dt'] = aligned_df['timestamp'].diff().dt.total_seconds()