In [4]:
import pandas as pd

In [5]:
a = pd.read_csv("D:/thesis_code/data/EuRoC/V1_01_easy/mav0/cam0/data.csv")
b = pd.read_csv("D:/thesis_code/data/EuRoC/V1_01_easy/mav0/cam1/data.csv")

In [6]:
a.head()

       #timestamp [ns]                 filename
0  1403715273262142976  1403715273262142976.png
1  1403715273312143104  1403715273312143104.png
2  1403715273362142976  1403715273362142976.png
3  1403715273412143104  1403715273412143104.png
4  1403715273462142976  1403715273462142976.png

In [7]:
b.head()

       #timestamp [ns]                 filename
0  1403715273262142976  1403715273262142976.png
1  1403715273312143104  1403715273312143104.png
2  1403715273362142976  1403715273362142976.png
3  1403715273412143104  1403715273412143104.png
4  1403715273462142976  1403715273462142976.png

In [8]:
column_name = 'filename'
a[column_name].equals(b[column_name])

True